* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* check where to put this padding, if it could be here or not */
    padding: 10px;
}

body {
    margin: 0 auto;
    background-color: #f3f0e9;
}

h1 {
    font-size: 2.027rem;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin-bottom: -30px;
}

h2 {
    font-size: 1.802rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

h3 {
    font-size: 1.424rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.golden {
    color: #d69e3d;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 50px;
    margin-bottom: -10px;
}


/* ------------- HEADER -------------- */

header {
    background-color: #000;
    overflow: hidden;
    color: #fff;
    font-weight: 800;
    /* font-size: 1rem; */
}

.nav-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-flex img {
    align-items: center;
}

nav {
    font-family: 'Lato', sans-serif;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav-bar li {
    margin: 0 30px;
}

#coffee-logo {
    margin: 20px;
}









/* ------------- BANNER SECTION -------------- */

.banner {
    position: relative;
    background-image: url(../images/hero-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    color: #fff;
    /* position: relative; */
    text-align: center;
    padding: 80px;
}

.wht-btn {
    padding: 12px 30px;
    background-color: #fff;
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #00000080;
}

.text-overlay {
    position: relative;
    z-index: 2;
}

.banner p {
    padding: 30px;
}

.banner button {
    margin-top: -70px;
}


/* ------------- WELCOME SECTION -------------- */

#welcome-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

#welcome-grid > :first-child {
    grid-column: 1 / span 2;
}

#offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 70px;
}

#offer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome h2 {
    margin-bottom: 30px;
}

#offer > div > p:not(:first-child) {
    margin-bottom: 70px;
}

.h2-right {
    padding-right: 150px;
}


/* ------------- MENU AND LOCATION SECTION -------------- */

.menu-location {
    position: relative;
    background-image: url(../images/coffee-shop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    color: #fff;
    /* position: relative; */
    text-align: center;
    padding: 10px 45px 70px 45px;
}

.trnp-btn {
    padding: 10px 30px;
    background-color: #00000050;
    color: #fff;
    border: #fff solid 1px;
}

.menu-location button {
    margin-top: 40px;
}





/* ------------- ABOUT SECTION -------------- */

.about {
    padding: 100px 0;
}

#about-p {
    margin-top: -30px;
}

.blk-btn {
    padding: 10px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
}





/* ------------- TESTIMONIALS SECTION -------------- */

.testimonials {
    background-color: #000;
    color: #fff;
}

.testimonials-three {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.testimonials-flex {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.testimonials-flex::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050; 
    z-index: 1;
}

.testimonials-flex p {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    margin: 0;
}

.testimonials-three .testimonials-flex:nth-child(1) {
    background-image: url(../images/testimonial-1.jpeg);
}

.testimonials-three .testimonials-flex:nth-child(2) {
    background-image: url(../images/testimonial-2.jpeg);
}

.testimonials-three .testimonials-flex:nth-child(3) {
    background-image: url(../images/testimonial-3.jpeg);
}

#jane {
    padding-top: 10px;
    padding-bottom: 40px;
}

#scott {
    padding-top: 10px;
    padding-bottom: 40px;
}

#susie {
    padding-top: 10px;
    padding-bottom: 40px;
}

/* ------------- FOOTER -------------- */

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

footer hr {
    border: solid 1px #393939;
    margin-top: 60px;
}


/* -------------------------------------------------
                     TABLET 
---------------------------------------------------- */

@media screen and (min-width: 768px) {
    
    h1 {
        font-size: 2.986rem;
    }

    h2 {
        font-size: 2.488rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    p {
        font-size: 1rem;
    }

    /* ------------- BANNER -------------- */

    .banner p {
        padding: 30px 90px;
    }

    .banner button {
        padding: 18px 40px;
    }



    /* ------------- WELCOME -------------- */

    #welcome-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    #welcome-grid > :first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .xtra-tablet {
        margin-top: 70px;
        margin-bottom: -20px;
    }

    #offer {
        display: grid;
        gap: 30px;
        padding: 0 40px;
        grid-template-columns: (4,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "item1 item1 item1 item1"
            "item2 item2 item3 item3"
            ". item4 item4 .";
    }
    
    .item1 {
        grid-area: item1;
    }
    
    .item2 {
        grid-area: item2;
    }
    
    .item3 {
        grid-area: item3;
    } 

    .item4 {
        grid-area: item4;
        padding-bottom: 60px;
    }

    /* ------------- MENU AND LOCATION -------------- */

    .menu-flex {
        display: flex;
        gap: 70px;
        padding: 50px 10px;
    }

    .menu-flex > div button {
        padding: 18px 40px;
        margin-top: 70px;
        align-items: baseline;
    }

    /* ------------- ABOUT -------------- */

    .about-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 50px 10px;
    }

    .about-flex img {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .about-flex div {
        flex: 1 1 50%;
        max-width: 50%;
        padding: 20px;
    }

    #about-p {
        margin-bottom: -20px;
    }

    #about-btn-tablet {
        padding: 18px 40px;
    }





    /* ------------- FOOTER -------------- */


















}






/* -------------------------------------------------
                     DESKTOP 
---------------------------------------------------- */

@media screen and (min-width: 1100px) {
    
    /* ------------- FOOTER -------------- */




    /* ------------- FOOTER -------------- */




    /* ------------- FOOTER -------------- */





    /* ------------- FOOTER -------------- */





    /* ------------- FOOTER -------------- */










}



